ITE_Development/Teste/Connected Services/SchedulerFramework/scheduler4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9090/scheduler?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ITSolution.Scheduler.EntidadesBd" />
  <xs:import schemaLocation="http://localhost:9090/scheduler?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Threading" />
  <xs:element name="CreateTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ITSolution.Scheduler.EntidadesBd" minOccurs="0" name="task" nillable="true" type="q1:TaskIts" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Threading" minOccurs="0" name="cts" nillable="true" type="q2:CancellationTokenSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTaskResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTask" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Threading" minOccurs="0" name="cts" nillable="true" type="q3:CancellationTokenSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTask" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idTask" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuspendTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLogTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ITSolution.Scheduler.EntidadesBd" minOccurs="0" name="log" nillable="true" type="q4:LogIts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertLogTaskResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ITSolution.Scheduler.EntidadesBd" minOccurs="0" name="task" nillable="true" type="q5:TaskIts" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Threading" minOccurs="0" name="cancellationToken" nillable="true" type="q6:CancellationTokenSource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>