ITE_Development/Teste/Connected Services/ValidadorDIME/ValidadorDime.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://webservices.sathomologa.sef.sc.gov.br/Sat.Declaracao.Dime.Validador.WS" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://webservices.sathomologa.sef.sc.gov.br/Sat.Declaracao.Dime.Validador.WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://webservices.sathomologa.sef.sc.gov.br/Sat.Declaracao.Dime.Validador.WS">
      <s:element name="ValidarDime">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pDime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pUsuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidarDimeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidarDimeResult" type="tns:DtoRetorno" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DtoRetorno">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Erros" type="tns:ArrayOfDtoErro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfDtoErro">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DtoErro" nillable="true" type="tns:DtoErro" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DtoErro">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Linha" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidarDimeSoapIn">
    <wsdl:part name="parameters" element="tns:ValidarDime" />
  </wsdl:message>
  <wsdl:message name="ValidarDimeSoapOut">
    <wsdl:part name="parameters" element="tns:ValidarDimeResponse" />
  </wsdl:message>
  <wsdl:portType name="ValidadorDimeSoap">
    <wsdl:operation name="ValidarDime">
      <wsdl:input message="tns:ValidarDimeSoapIn" />
      <wsdl:output message="tns:ValidarDimeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ValidadorDimeSoap" type="tns:ValidadorDimeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarDime">
      <soap:operation soapAction="http://webservices.sathomologa.sef.sc.gov.br/Sat.Declaracao.Dime.Validador.WS/ValidarDime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ValidadorDimeSoap12" type="tns:ValidadorDimeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidarDime">
      <soap12:operation soapAction="http://webservices.sathomologa.sef.sc.gov.br/Sat.Declaracao.Dime.Validador.WS/ValidarDime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidadorDime">
    <wsdl:port name="ValidadorDimeSoap" binding="tns:ValidadorDimeSoap">
      <soap:address location="http://webservices.sathomologa.sef.sc.gov.br/wsDime/ValidadorDime.asmx" />
    </wsdl:port>
    <wsdl:port name="ValidadorDimeSoap12" binding="tns:ValidadorDimeSoap12">
      <soap12:address location="http://webservices.sathomologa.sef.sc.gov.br/wsDime/ValidadorDime.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>